<h1>Produtos</h1>

<div class="container mt-3">
  <ul class="list-group border border-1">
    <li class="list-group-item d-flex bg-success fw-bold">
      <div class="col-3">Produto</div>
      <div class="col-2">Valor</div>
      <div class="col-2">Quantidade</div>
    </li>
    {{#each products}}
    <li class="list-group-item d-flex align-items-center">
      <div class="col-3">{{name}}</div>
      <div class="col-2">R$ {{price}}</div>
      <div class="col-2">{{quantity}}</div>
      <div class="col-1">
        <div class="actions">
          <a href="/products/edit/{{this.id}}"><button type="submit">
              <i class="bi bi-pencil-square" style="font-size: 1rem"></i>
            </button></a>
          <form action="/remove" method="POST">
            <input type="hidden" name="id" value="{{this.id}}" />
            <button type="submit">
              <i class="bi bi-trash" style="font-size: 1rem"></i>
            </button>
          </form>
        </div>
      </div>
      <div class="col-1">
        <a href="/products/{{id}}/sale" class="btn btn-primary">Vender</a>
      </div>
    </li>
    {{/each}}
  </ul>
</div>